
  #header {
  background-color: blue;
  height: 20px;
}
/*------footer {
  margin-top:100px;
  background-color: transparent;
}*/

#wrapper {
  margin-top: 16px;
  margin-bottom: 16px;
}

#main,
#menu,
#sidebar {
  height: 600px;
}



#main,
#menu,
#sidebar {
  background-color: #e9ebee;
}
#header {
    background-color: #4267b2;
    color: white;
}
.white-text {
  color: white !important;
margin-left:auto;
  }

#header ul .glyphicon {
    font-size: 20px;
	background-color: #4267b2;
}

.list-heading {
    padding: 20px 15px 0 15px;
}
.abc{
	color:black;
	
}

.panel-body .glyphicon {
    margin-left: 10px;
    margin-right: 4px;
}
.text-post {
    margin-bottom: 15px;
    margin-top: 0;
}
.image-post {
    margin-bottom: 15px;
}

#main {
    overflow: auto;
}
#main::-webkit-scrollbar {
    display: none;
}
.comments {
	margin: 0 0 10px;
}
input{
	width: 100%;
	}
	.footer{
		margin-bottom: 0px;
		background-color: transparent;
		
	}
	.nav-pills>li>a{
		margin-bottom:0px;
		border-radius: 4px;
		margin-top: 150px;
		display:inline;
	}
	.nav-tabs>li>a{
	margin-left:30px;
	padding-left:-20;
}

.tab-pane{
	height:50px;
}
.btn-default{
	margin-left:-20px;
	
}
.time{
	color: grey;
	margin-left:5px;
}
.spc{
	margin-left:-20px;
}
.b{
	
margin-left:150px;
}
.a{

	margin-left:125px;
}
.lj{
	margin-right:200px;
}
.xyz{
	color:black;
}
.ba{
	color:black;
}